<div class="message">
  <div class="top">
    <div class="wrapper">
      <img src="../../../assets/icons/InfoMinor.svg" alt="information icon">
      <h6>Instructions</h6>
    </div>
    <button title="Dismiss" (click)="onPressClose()" class="close"><img src="../../../assets/icons/CancelSmallMinor.svg" alt="cancel button"></button>
  </div>
  <div class="text">
    <p>Search for your favourite movies using the above search-bar. To add movies to your nomination list, press <strong>NOMINATE</strong> in the movie card. Your list of nominations will be automatically saved. To dismiss this dialog, press the cancel button on the top right corner.</p>
  </div>
</div>