<div class="main-container">
  <app-instructions-message
    *ngIf="shouldShowInstructions"
    (onClose)="onClose()"
  ></app-instructions-message>
  <div class="nominations" style="margin-bottom: 2rem;">
    <ul>
      <li *ngFor="let movie of nominations">{{movie.Title}} ({{movie.Year}})</li>
    </ul>
  </div>
  <app-search-bar
    [loading]="loading"
    (onClear)="onClear()"
    (onSearch)="onSearch($event)"
  ></app-search-bar>
  <div class="search-results" *ngIf="searchResults">
    <app-movie-card
      *ngFor="let movie of searchResults.Search; index as i"
      (onNominate)="onNominate($event)"
      [movie]="movie"
      [isNominated]="isNominated(movie)"
    ></app-movie-card>
  </div>
</div>
