.main-container {
  padding: 2rem;
  width: calc(100% - 4rem);
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 1rem;
}

.results-text {
  margin-top: 2rem;
  font-family: var(--myriad-pro-regular);
  font-size: 1.125rem;
}

app-instructions-message {
  display: inline-block;
  margin: 0 5%;
}

.search-results {
  /* width: 80%; */
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 5rem 2rem;
}

@media (max-width: 1200px) {
  .main-container {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

@media (max-width: 1100px) {
  .main-container {
    grid-template-columns: none;
    grid-template-areas:
      "nominations"
      "search";
    row-gap: 2rem;
  }

  .left {
    grid-area: search;
  }

  .search-results {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
}
