.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.top {
  height: 5rem;
  width: 100%;
  background-color: var(--text-color);
}

.bottom {
  height: 2rem;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 4rem;
  background-color: var(--lightest);
  padding: 0.5rem 0;
}

.logo-text {
  font-family: var(--logo);
  letter-spacing: -0.03125rem;
  font-size: 1.25rem;
  padding-left: 1rem;
}

.title-text {
  font-family: var(--text);
  font-size: 3rem;
  letter-spacing: -0.2rem;
  color: white;
  background-color: var(--text-color);
  padding: 1rem;
}

.back-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  outline: none;
  border-radius: 50%;
  background-color: var(--lightest);
}

.back-button:hover {
  cursor: pointer;
}

.back-button img {
  width: 1.75rem;
  height: 1.75rem;
}

.back-button:hover .tooltip {
  visibility: visible;
  filter: opacity(1);
  transition: filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tooltip::before {
  position: absolute;
  left: calc(50% - 1rem);
  margin-top: -1.5rem;
  z-index: 1;
  height: 0.75rem;
  width: 0.75rem;
  background: var(--text-color);
  content: "";
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  transform: translateX(2.6rem) translateY(1.65rem) rotate(45deg)
    translateZ(5rem);
}

.tooltip {
  visibility: hidden;
  background-color: var(--text-color);
  color: white;
  text-align: center;
  font-size: 0.875rem;
  font-family: var(--movie-text);
  position: absolute;
  z-index: 3;
  padding: 0.5rem;
  border-radius: 10px;
  filter: opacity(0);
  min-width: 3rem;
  user-select: none;
  transform: translateX(-3.5rem);
}