<div class="nominations-container">
  <div class="title-container">
    <h5 class="title">Your nominations <span *ngIf="nominations.length && nominations.length < 5" class="length">({{nominations.length}}/5)</span></h5>
    <button (click)="onToggle()" class="toggle-display" [ngClass]="{'minimized' : !isExpanded}">
      <div class="tooltip">{{ isExpanded ? "Min" : "Max"}}imize</div>
      <img src="../../../assets/icons/ChevronUpMinor.svg" alt=""></button>
  </div>
  <div class="nominations-outer" [ngClass]="{'minimized-nominations': !isExpanded}">
    <div class="nominations" [ngClass]="{'empty': !nominations.length}">
      <div id="no-nominations" *ngIf="!nominations.length">
        <img src="../../../assets/icons/HintMajor.svg" alt="" />
        <h5>No nominations found</h5>
        <h6>try adding a movie</h6>
      </div>
      <div class="nomination" *ngFor="let movie of nominations">
        <div class="movie-title" [title]="movie.Title + '&nbsp;(' + movie.Year + ')'">
          <h5>{{movie.Title}}</h5>
          <h6>({{movie.Year}})</h6>
        </div>
        <div class="movie-button">
          <button (click)="onRemove(movie)">
            <div class="tooltip">Remove</div>
            <img src="../../../assets/icons/CancelSmallMinor.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <div class="button-container" *ngIf="nominations.length">
      <button id="share-button" (click)="onPressShare()">
        <div class="tooltip">Get Shareable Link</div>  
        <img src="assets/icons/ShareMinor.svg" alt="" />
       </button>
       <div class="info-text">
         {{infoMessage}}
       </div>
      <button id="clear-button" (click)="onClearNominations()">
       <div class="tooltip">Clear Nominations</div>  
       <img src="assets/icons/MinusMinor.svg" alt="" />
      </button>
    </div>
  </div>
  <app-success-message *ngIf="nominations.length === 5"></app-success-message>
</div>