<div class="nominations-container">
  <div class="title-container">
    <h5 class="title">Your nominations <span class="length">({{nominations.length}}/5)</span></h5>
  </div>
  <div class="nominations-outer">
    <div class="nominations" [ngClass]="{'empty': !nominations.length}">
      <div id="no-nominations" *ngIf="!nominations.length">
        <img src="../../../assets/icons/HintMajor.svg" alt="" />
        <h5>No nominations found</h5>
        <h6>try adding a movie</h6>
      </div>
      <div class="nomination" *ngFor="let movie of nominations">
        <div class="movie-title">
          <h5>{{movie.Title}}</h5>
          <h6>({{movie.Year}})</h6>
        </div>
        <div class="movie-button">
          <button (click)="onRemove(movie)">
            <div class="tooltip">Remove</div>
            <img src="../../../assets/icons/CancelSmallMinor.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>